* {
    font-family: Arial, Helvetica, sans-serif;
}

#with_border {
    border: 3px solid lightgray;
    border-radius: 3px;
    border-width: 2px;
    width: 400px;
    margin-left: 550px;
    margin-top: 100px;
}

#Need {
    color: blue;
    font-size: small;
    margin-left: 25px;
    text-align: left;
}

#no_border {
    width: 400px;
    margin-left: 550px;
    margin-top: 10px;
}

h1 {
    text-align: left;
    padding-left: 20px;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-weight: 100;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 20px;
    margin-left: 40px;
}

li {
    display: inline;
    color: blue;
    font-size: x-small;
    margin-left: 30px;
}

input {
    background-color: white;
    width: 93%;
    height: 25px;
}


form {
    color: black;
    padding: 2px;
    background-color: rbg(104, 133, 103);
    border-radius: 5px;
    margin-left: 20px;
    line-height: 1.8;
    
}

#continue {
    color: black;
    background-color: rgb(246, 207, 81);
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    margin-left: 1px;
    width: 95%;
}

#Forgot {
    margin-left: 145px;
    color: blue;
    font-size: small;
}

#New {
    color: gray;
    font-size: small;
    margin-bottom: 1px;
    margin-left: 5px;
}

#create {
    width: 95%;
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    margin-left: 10px;
    margin-top: 1px;
}

img {
    margin-left: 70px;
    width: 60%;
    height: 60%;
}

